<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%%- meta %>
  <%%- title %>
</head>
<body>
  <div id="root"><%%- appString %></div>
  
  <script>
    window.__INITIAL_STATE__ = <%%- initialState %>
  </script>
</body>
</html>